<!-- Placez votre code dans le fichier HTML du composant Angular -->
<div class="flex flex-col items-center justify-center min-h-screen w-full"
     style="background-image: url('/assets/images/arrier-plan.jpg'); background-size: cover; background-position: center;">
  <!-- Texte centré juste au-dessus de la ligne -->
  <span style="position: absolute; top: 65px; left: 50%; transform: translateX(-50%); background-color: white; padding: 0 10px; font-weight: bold; font-size: 28px; color: #733543; font-family:Andalus, sans-serif;">
     BarmejTech Portail
  </span>

  <!-- Ligne horizontale personnalisée avec ajustement de la position -->
  <div style="width: 100%; height: 7px; background-color:#733543;; position: absolute; top: 90px;"></div>

  <!-- Button trigger modal -->
 <!-- <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Item...
  </button>-->

<!--  <div class="flex flex-row content-right">
    <div class="hidden lg:block basis-1/2 cont"> div hedha mta3 logo
    </div>
    <div class="basis-1/2 content m-4 md:m-8">
      w hedha mta3 les bouons
      <div class="buttons-container" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <button class="button-arounder">BarmejTech </button>
      </div>
    </div>
  </div>-->



  <div class="buttons-container" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <button class="button-arounder">BarmejTech </button>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <h1 class="modal-title text-center" id="exampleModalLabel" style="flex-grow: 1;">
             BARMEJ TECH
            <img src="assets/images/logo1.png" alt="Logo" style="width: 40px; height: auto; margin-left: 10px;">
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body   d-flex">
          <button type="button" class="btn btn-primary d-inline-block">Admin</button>
          <button type="button" class="btn btn-primary d-inline-block">Super Admin</button>
          <button type="button" class="btn btn-primary d-inline-block">Sous Admin</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
















<!-- Form -->
 <!-- <div class="w-full"
       style="max-width: 16rem; background-color: rgba(255, 255, 255, 0.9); padding: 1rem; border-radius: 8px;">
    <h1 class="mb-3 font-normal text-center">Log in</h1>
    <div>
      <label class="block mb-4">
        <div class="mb-1 text-grey-darkest">Email</div>
        <input class="w-full py-2 px-3 border rounded outline-none focus:border-blue-light focus:shadow-outline"
               type="text">
      </label>
      <label class="block mb-5">
        <div class="mb-1 text-grey-darkest">Password</div>
        <input class="w-full py-2 px-3 border rounded outline-none focus:border-blue-light focus:shadow-outline"
               type="password">
      </label>
      <div class="mb-10">
        <button
          class="py-3 bg-green-500 hover:bg-green-600 rounded text-white text-center w-full"
          routerLink="/home">
          Login
        </button>
      </div>
      <div class="text-center text-sm">
        <a class="text-blue hover:text-blue-dark" href="#">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>-->



<!--
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tailwind-Css Login Form</title>
  &lt;!&ndash; Tailwind-CSS CDN  &ndash;&gt;
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css" />
</head>
<body class="bg-blue-500">
&lt;!&ndash; Login Form &ndash;&gt;
<div class="container mx-auto p-2">
  <div class="max-w-sm mx-auto my-24 bg-white px-5 py-10 rounded shadow-xl">
    <div class="text-center mb-8">
      <h1 class="font-bold text-2xl font-bold">Login To My Centre</h1>
    </div>
    <form action="#">
      <div class="mt-5">
        <label for="username">Username or Email</label>
        <input
          type="text"
          id="username"
          class="block w-full p-2 border rounded border-gray-500"
        />
      </div>
      <div class="mt-5">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="block w-full p-2 border rounded border-gray-500"
        />
      </div>
      <div class="mt-10">
   &lt;!&ndash;     <input
          type="submit"
          value="Login"
          class="py-3 bg-green-500 hover:bg-green-600 rounded text-white text-center w-full"
        />&ndash;&gt;
        <button
          class="py-3 bg-green-500 hover:bg-green-600 rounded text-white text-center w-full"
          routerLink="/home">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
&lt;!&ndash;<a href="/home" routreLinkActive="activebutton" ariaCurrentwhenActive="page"  >Home Component</a>&ndash;&gt;
</body>
</html>
-->






