
<div class="flex flex-col items-center justify-center min-h-screen w-full">
  <!-- Form -->
  <div class="w-full"
       style="max-width: 16rem;">
    <h1 class="mb-3 font-normal text-center">Log in</h1>
    <div>
      <label class="block mb-4">
        <div class="mb-1 text-grey-darkest">Email</div>
        <input class="w-full py-2 px-3 border rounded outline-none focus:border-blue-light focus:shadow-outline"
               type="text">
      </label>
      <label class="block mb-5">
        <div class="mb-1 text-grey-darkest">Password</div>
        <input class="w-full py-2 px-3 border rounded outline-none focus:border-blue-light focus:shadow-outline"
               type="password">
      </label>
      <div class="mb-10">
        <button
          class="py-3 bg-green-500 hover:bg-green-600 rounded text-white text-center w-full"
          routerLink="/home">
          Login
        </button>
      </div>
      <div class="text-center text-sm">
        <a class="text-blue hover:text-blue-dark" href="#">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>



<!--
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tailwind-Css Login Form</title>
  &lt;!&ndash; Tailwind-CSS CDN  &ndash;&gt;
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css" />
</head>
<body class="bg-blue-500">
&lt;!&ndash; Login Form &ndash;&gt;
<div class="container mx-auto p-2">
  <div class="max-w-sm mx-auto my-24 bg-white px-5 py-10 rounded shadow-xl">
    <div class="text-center mb-8">
      <h1 class="font-bold text-2xl font-bold">Login To My Centre</h1>
    </div>
    <form action="#">
      <div class="mt-5">
        <label for="username">Username or Email</label>
        <input
          type="text"
          id="username"
          class="block w-full p-2 border rounded border-gray-500"
        />
      </div>
      <div class="mt-5">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="block w-full p-2 border rounded border-gray-500"
        />
      </div>
      <div class="mt-10">
   &lt;!&ndash;     <input
          type="submit"
          value="Login"
          class="py-3 bg-green-500 hover:bg-green-600 rounded text-white text-center w-full"
        />&ndash;&gt;
        <button
          class="py-3 bg-green-500 hover:bg-green-600 rounded text-white text-center w-full"
          routerLink="/home">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
&lt;!&ndash;<a href="/home" routreLinkActive="activebutton" ariaCurrentwhenActive="page"  >Home Component</a>&ndash;&gt;
</body>
</html>
-->






